
body {
    text-align: center;
}

header {
    padding: 30px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#cover {
    max-width: 350px;
    min-width: 100px;
    border-radius: 15px;
}

.box {
    border: 1px solid red;
}

footer{
    /* margin-top: 50px; */
    text-align: center;
    padding-top: 50px;
}

button {
    background-color: orange;
}

.card {
    max-width: 400px;
    height: 400px;
    max-height: 500px;
    background-color: grey;
    padding-top: 50px;
}